<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Games!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='minigames/minigames.css') }}">
</head>
<body>
    <div class="gameBtns">
		  <button id="wordle">Wordle</button>
      <button id="memory">Memory</button>
	  </div>


    <script>
      // Directs you to the Wordle page
      document.getElementById("wordle").onclick = function () {
        window.location.href = "{{ url_for('wordle') }}";
      };

      // Directs you to the Memory page
      document.getElementById("memory").onclick = function () {
			window.location.href = "{{ url_for('memoryGame') }}";
		  };
    </script>
</body>
</html>