<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='minigames/memory.css') }}">
	<title>Memory</title>
</head>
<body>
	<header>
		<button id="backBtn">Back</button>
		<h1 class="title">Memory</h1>
	</header>

	<hr>
	<br>
	
	<script>
		document.getElementById("backBtn").onclick = function () {
			window.location.href = "{{ url_for('minigames') }}";
		};
	</script>
</body>
</html>