body {
    font-family: Arial, sans-serif;
    background-color: #000814;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-color: aqua;
    margin-top: 20vh;
}
.gamebox {
    background-color: #001d3d;
    border: 2px solid #ffd60a;
    border-radius: 10px;
    color: #ffffff;
    display: grid;
    justify-content: center;
    width: 30vw;
    height: 60vh;
}
img {
    max-width: 100%;
    height: auto;
}
.skin{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70%;
    object-fit: contain;
    

}
.skin_text_box {
    display: flex;
    justify-content: center;
    height: max;
    width: max;
    border-radius: 10px;
    border: #ffd60a solid 2px;
    background-color: #FFC300;
    margin: 5vh;
    z-index: 5;
}