body {
    font-family: Arial, sans-serif;
    background-color: #000814;
    margin: 0;
    overflow: hidden;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001d3d;
    padding: 10px 20px;
    border-bottom: 1vh solid #ffd60a;
    width: 100vw;
    height: 5vh;
}
.user_profile_btn {
    width: 40px;
    height: 40px;
    background-color: #ffd60a;
    border-radius: 50%;
    margin-right: 1vw;
}
.user_name {
    color: #ffffff;
    font-size: 18px;
    margin-right: auto;
    border-bottom: #FFC300 solid 2px;
}
.game_name {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
}
.leaderboard_btn {
    width: 300px;
    height: 40px;
    background-color: #ffd60a;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    color: #000814;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5%;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-color: aqua;
    margin-top: 20vh;
}
.gamebox {
    background-color: #001d3d;
    border: 2px solid #ffd60a;
    border-radius: 10px;
    color: #ffffff;
    display: grid;
    justify-content: center;
    width: 30vw;
    height: 60vh;
}
img {
    max-width: 100%;
    height: auto;
}
.skin{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70%;
    object-fit: contain;    
}
.skin_text_box {
    display: flex;
    justify-content: center;
    height: max;
    width: max;
    border-radius: 10px;
    border: #ffd60a solid 2px;
    background-color: #FFC300;
    margin: 5vh;
    z-index: 5;
}


 #minigamesBtn, #guideBtn, #faqBtn {
    background-color: #ffd60a;
    border: 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    margin-right: 2%;
}