* {
	box-sizing: border-box;
}

html {
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Nunito Sans, sans-serif;
    background-color: #001d3d;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
	justify-content: center;
    padding: 10px 20px;
}

.title {
    color: white;
    font-size: clamp(24px, 6vw, 48px);
    letter-spacing: 2px;
	margin-top: 5%;
	text-align: center;
	letter-spacing: 2px;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	flex-direction: column;
	gap: 2%;
}

h4 {
	font-size: clamp(15px, 5vw, 25px);
	letter-spacing: 0.50px;
}

p {
	font-size: clamp(15px, 5vw, 25px);
}

.startBtn {
	margin-top: 2%;
	color: #000814;
	font-size: clamp(14px, 2vw, 20px);
	font-weight: 900;
	background-color: #ffd60a;
	padding: 20px;
	width: 15%;
	text-align: center;
	border-width: 1px;
	border-radius: 5px;
	flex-wrap: wrap;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
	letter-spacing: 2px;
}