<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='faq.css') }}">
	<title>Frequently Asked Questions</title>
</head>
<body>
	<header>
		<button id="backBtn">Back</button>
		<h1 class="title"><u>Frequently Asked Questions</u></h1>
	</header>

	<br>
	<hr>

	<section>
		<!-- First Question -->
		<button type="button" class="collapsible">What is this website? ⏏</button>
		<div class="content">
			<p>Higher, Lower means to take your CS:GO expertise to play and guess which CS:GO2 item is worth more than the other. We have leaderboards displaying every users score, as well as other games to play such as memory, wordle and a quiz, suitable for all kinds of Counter Strike 2 players. By using csfloat.com's API, we fetch the item's currency. We took blast.tv's conecpt as inspiration and made out own twist on it.</p>
		</div>

		<!-- Second Question -->
		<button type="button" class="collapsible">How does it work? ⏏</button>
		<div class="content">
			<p>Higher, Lower is a simple game where you get two items and you have to guess which one has the highest value. As one continues, you can gain streaks. Compete with other players to reach the top of the learderboard.</p>
		</div>

		<!-- Third Question -->
		<button type="button" class="collapsible">How do you store our data? ⏏</button>
		<div class="content">
			<p>The only data stored are user scores to keep the learderboard up-to-date. We do not require or share any other data.</p>
		</div>

		<!-- Fourth Question -->
		<button type="button" class="collapsible">What's the purpouse of this website? ⏏</button>
		<div class="content">
			<p>We decided to make this website as a fun game for CS:GO players where they can interact with others and also compete. It's a place to hang out with liked-minded individuals and play fun games.</p>
		</div>

		<!-- Fifth Question-->
		<button type="button" class="collapsible">How do I create an account? ⏏</button>
		<div class="content">
			<p>To create an account, simply click the sign up button on the main page at the top left. You only need a username and password to create an account.</p>
		</div>
	</section>
	
	<script>
		// Redirects back to the main page (index) when Back Button is clicked
		document.getElementById("backBtn").onclick = function () {
			window.location.href = "{{ url_for('index') }}";
	  	};


		var coll = document.getElementsByClassName("collapsible");
		var i;

		for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.display === "block") {
			content.style.display = "none";
			} else {
			content.style.display = "block";
			}
		});
		}
	</script>
</body>
</html>