<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='leaderboard.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="user_profile_btn"></div>
        <div class="user_name">my name is</div>
        <div class="game_name">COMP NAME</div>
        <div class="leaderboard_btn">LEADERBOARDS</div>

    </div>
    <div class="parent">
        <div class="leaderboard_box">
            <div class="category_box">
                <h1>daily</h1>
            </div>
            <ol>
                <li>
                    <div class="name_box">kuba</div>
                    <div class="score_box">1500</div>
                </li>
                <li>
                    <div class="name_box">mathias</div>
                    <div class="score_box">1200</div>
                </li>
                <li>
                    <div class="name_box">mimin</div>
                    <div class="score_box">1000</div>
                </li>
                <li>
                    <div class="name_box">misran</div>
                    <div class="score_box">800</div>
                </li>
                <li>
                    <div class="name_box">Eve</div>
                    <div class="score_box">600</div>
                </li>
            </ol>
        </div>
        <div class="leaderboard_box">
            <div class="category_box">
                <h1>yearly</h1>
            </div>
            <ol>
                <li>
                    <div class="name_box">kuba</div>
                    <div class="score_box">1500</div>
                </li>
                <li>
                    <div class="name_box">mathias</div>
                    <div class="score_box">1200</div>
                </li>
                <li>
                    <div class="name_box">mimin</div>
                    <div class="score_box">1000</div>
                </li>
                <li>
                    <div class="name_box">misran</div>
                    <div class="score_box">800</div>
                </li>
                <li>
                    <div class="name_box">Eve</div>
                    <div class="score_box">600</div>
                </li>
            </ol>
        </div>
        <div class="leaderboard_box">
            <div class="category_box">
                <h1>weekly</h1>
            </div>
            <ol>
                <li>
                    <div class="name_box">kuba</div>
                    <div class="score_box">1500</div>
                </li>
                <li>
                    <div class="name_box">mathias</div>
                    <div class="score_box">1200</div>
                </li>
                <li>
                    <div class="name_box">mimin</div>
                    <div class="score_box">1000</div>
                </li>
                <li>
                    <div class="name_box">misran</div>
                    <div class="score_box">800</div>
                </li>
                <li>
                    <div class="name_box">Eve</div>
                    <div class="score_box">600</div>
                </li>
            </ol>
        </div>
    </div>
</body>
</html>