<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='leaderboard.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="user_profile_btn"></div>
        <div class="user_name">my name is</div>
        <div class="game_name">COMP NAME</div>
        <div class="leaderboard_btn">LEADERBOARDS</div>

    </div>
    <div class="parent">
        <div class="leaderboard_box">
            <div class="category_box">
                <h1>Top Scores</h1>
            </div>
            <ol>
                <li>
                    <div class="name_box"></div>
                    <div class="score_box"></div>
                </li>
                <!-- IF NO LEADERBOARD ENTRIES FOUND, SHOW THIS INSTEAD (WITH AN IF STATEMENT)-->
                <li>
                    <div class="name_box">No entries yet</div>
                    <div class="score_box">0</div>
                </li>
            </ol>
        </div>
    </div>
</body>
</html>