
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="test image" href="{{url_for('static', filename='static/IMGS/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Tk5UvzWCL2kpn2-DFk_OKherB0H_eBC2Ke_uNztOh8QmexlkgktWjWw9iheHPGOgcoApV4E7YL50LsldLkMOq0tACPi4oTznj4kGoXuTa1_5_J.png')}}">
</head>
<body>
    <div class="navbar">
        <div class="user_profile_btn"></div>
        <div class="user_name">my name is</div>
        <div class="game_name">HIGHER or LOWER</div>
        <a href="{{ url_for('leaderboard') }}">
        <div class="leaderboard_btn">LEADERBOARDS</div>
        </a>

    </div>

    <div class="parent">
        <div class="gamebox" style="margin: 3vw;"><!-- left box -->
            <div class="skin">
                <img src="static/IMGS/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Tk5UvzWCL2kpn2-DFk_OKherB0H_eBC2Ke_uNztOh8QmexlkgktWjWw9iheHPGOgcoApV4E7YL50LsldLkMOq0tACPi4oTznj4kGoXuTa1_5_J.png" alt="">
            </div>
            <div class="skin_text_box">
                <p class="skin_text"> %price%</p>

            </div>
        </div>

        <div class="gamebox" style="margin: 3vw;"><!-- right box -->
            <div class="skin">
                <img src="static/IMGS/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Tk5UvzWCL2kpn2-DFk_OKherB0H_eBC2Ke_uNztOh8QmexlkgktWjWw9iheHPGOgcoApV4E7YL50LsldLkMOq0tACPi4oTznj4kGoXuTa1_5_J.png" alt="">
            </div>
            <div class="skin_text_box">
                <p class="skin_text"> %price%</p>

            </div>
        </div>
    </div>
    <div class="share_btn">SHARE your score</div>
    <div class="score_circle">
        <div class="score">0</div>
    </div>
</body>
</html>