<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script defer src="{{ url_for('static', filename='quiz.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
	<title>The Ultimate CSGO Quiz</title>
</head>
<body>
	<header>
		<h1 class="title"><u>Are you a Counter Strike 2 expert?</u></h1>
	</header>

	<section>
		<h4>Are you better than the other 1.5 million users playing CS:GO2?</h4>
		<br>
		<p>Test yourself now!</p>
		<button class="startBtn">Start Quiz</button>
	</section>
</body>
</html>