<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script defer src="{{ url_for('static', filename='quiz.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
	<title>The Ultimate CSGO Quiz</title>
</head>
<body>
	<header>
		<h1 class="title"><u>Are you a Counter Strike 2 expert?</u></h1>
	</header>

	<section>
		<h4>Are you better than the other 1.5 million users playing CS:GO2?</h4>
		<br>
		<p>Test yourself now!</p>
		<button id="startBtn">Start Quiz</button>
	</section>

	<div class="modalContainer" id="modal_Container">
		<div class="modal">
			<div class="modalHeader">
				<button id="closeBtn">Exit</button>
				<h1>CS:GO2 Quiz</h1>
			</div>
			<div class="modalBody">
				<h2 id="question">Question</h2>
				<div id="answerBtns">
					<button class="btn">Answer 1</button>
					<button class="btn">Answer 2</button>
					<button class="btn">Answer 3</button>
					<button class="btn">Answer 4</button>
				</div>
				<div id="nextBtn">Next</div>
			</div>
		</div>
	</div>
</body>
</html>