* {
	box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Nunito Sans, sans-serif;
    background-color: #22252B;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.title {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: clamp(24px, 6vw, 48px);
    letter-spacing: 2px;
}

#backBtn {
	color: white;
	font-size: clamp(14px, 2vw, 20px);
	background-color: #787c7e;
	padding: 10px;
	width: fit-content;
	text-align: center;
	justify-content: left;
	align-items: left;
	border-width: 1px;
	border-radius: 5px;
	margin: 2%;
	margin-top: 3%;
	margin-right: auto;
	flex-wrap: wrap;
	transform: translateY(-50%);
}

hr {
	width: 50%;
}