* {
	box-sizing: border-box;
}

html {
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Nunito Sans, sans-serif;
    background-color: #001d3d;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.title {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: clamp(24px, 6vw, 48px);
    letter-spacing: 2px;
}

#backBtn {
	color: #000814;
	font-size: clamp(14px, 2vw, 20px);
	background-color: #ffd60a;
	padding: 10px;
	width: fit-content;
	text-align: center;
	justify-content: left;
	align-items: left;
	border-width: 1px;
	border-radius: 5px;
	margin: 2%;
	margin-top: 3%;
	margin-right: auto;
	flex-wrap: wrap;
	transform: translateY(-50%);
}

hr {
	width: 50%;
}

.memoryGame {
	width: 610px;
	height: 610px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: auto;
    margin-right: auto;
	perspective: 1000px;
}

.memoryCard {
	width: calc(25% - 10px);
	height: calc(33.333% - 10px);
	position: relative;
	margin: 5px;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.memoryCard:active{
	transform: scale(.97);
	transition: transform 0.2s;
}

/* When the flip class is selected, rotate it */
.memoryCard.flip {
	transform: rotateY(180deg);
}

.frontFace {
    z-index: 2;
    transform: rotateY(0deg);
}

.backFace {
    z-index: 1;
    transform: rotateY(180deg);
}

.frontFace,
.backFace {
	width: 100%;
	height: 100%;
	padding: 20px;
	border-radius: 5px;
	position: absolute;
	border: 2px solid #787c7e;
	backface-visibility: hidden;
}
