* {
    box-sizing: border-box;
}

html {
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Nunito Sans, sans-serif;
    background-color: #22252B;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 100%;
}

.title {
	color: white;
	text-align: center;
	font-size: 48px;
	letter-spacing: 2px;
}

hr {
	width: 50%;
}

#board {
	width: 350px;
	height: 400px;
	margin: 0 auto;
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
}

.tile {
	/* Box */

	border: 2px solid #3a3a3c;
	width: 60px;
	height: 60px;
	margin: 2.5px;

	/* Text */

	color: white;
	font-size: 45px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.correct {
	background-color: #6aaa64;
	color: white;
	border-color: white;
}

.present {
	background-color: #C9b458;
	color: white;
	border-color: white;

}

.absent {
	background-color: #787c7e;
	color: white;
	border-color: white;
}

#answer {
	color: white;
	text-align: center;
	justify-content: center;
	align-items: center;
}