* {
    box-sizing: border-box;
}

html {
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Nunito Sans, sans-serif;
    background-color: #001d3d;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.title {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: clamp(24px, 6vw, 48px);
    letter-spacing: 2px;
}

#backBtn {
	color: #000814;
	font-size: clamp(14px, 2vw, 20px);
	background-color: #ffd60a;
	padding: 10px;
	width: fit-content;
	text-align: center;
	justify-content: left;
	align-items: left;
	border-width: 1px;
	border-radius: 5px;
	margin: 2%;
	margin-top: 3%;
	margin-right: auto;
	flex-wrap: wrap;
	transform: translateY(-50%);
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

hr {
	width: 50%;
}

#board {
	width: 350px;
	height: 400px;
	margin: 0 auto;
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
}

.tile {
	/* Box */

	border: 2px solid #3a3a3c;
	width: 60px;
	height: 60px;
	margin: 2.5px;
	aspect-ratio: 1 / 1;

	/* Text */

	color: white;
	font-size: clamp(20px, 7vw, 45px);
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.correct {
	background-color: #6aaa64;
	color: white;
	border-color: white;
}

.present {
	background-color: #C9b458;
	color: white;
	border-color: white;

}

.absent {
	background-color: #787c7e;
	color: white;
	border-color: white;
}

#answer {
	color: white;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: clamp(16px, 3vw, 24px);
}

.keyboard-row {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid #787c7e;

    /* Text */
	color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 74px;
    height: 40px;
    margin: 1px;
    border: 1px solid #787c7e;

    /* Text */
	color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}